html, body {
    font-family: Lato, sans-serif;
    color: #424551;
    line-height: 160%;
}

body::selection {
    color: #fff;
    background-color: #f46b66;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #ffff;
    border-radius: 4px;
    background: linear-gradient(45.00deg, #ff3f3a, #f75e05 100%);
    white-space: nowrap;
    transition: .3s;
}

.button:hover {
    transform: scale(1.05);
}

.button--empty {
    background-image: none;
    border-left: 1px solid #ff3f3a;
    border-right: 1px solid #ff3f3a;
    border-bottom: 1px solid #ff3f3a;
    background-image: -webkit-linear-gradient(left, #ff3f3a, #f75e05), -webkit-linear-gradient(left, #ff3f3a, #f75e05);
    background-image: linear-gradient(left, #ff3f3a, #f75e05), linear-gradient(left, #ff3f3a, #f75e05);
    background-size: 100% 1px;
    background-position: 0 100, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button--empty span {
    background: linear-gradient(55.95deg, #ff3f3a 0%, #ff3f3a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {}

.heading {
    color: #1e212c;
}

.heading__subtitle {
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.heading__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin: 0;
}

.header {
    font-weight: 700;
    background: url(../images/decor/shapes-bg.svg) 50% 30% / cover no-repeat, linear-gradient(45.00deg, rgba(255, 63, 58, .2), rgba(246.6254425048828, 93.75582122802734, 5.25230598449707, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 19px;
    color: #424551;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #ff3f3a;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    background: url(../images/icons/user-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    transition: all .3s;
}

.header__user-btn:hover {
    color: #ff3f3a;
}

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e212c;
    margin: auto 0;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg {
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;
}

.header__play:hover svg {
    box-shadow: 0 0 0 16px rgb(255, 63, 58, 0.12);
}

.header__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-buttons {
    display: flex;
}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0;
}

.header__img {}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e212c;
    margin-bottom: 80px;
}

.header__row>span {
    background: #ff3f3a;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 15px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

.header__row-item span {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    color: #1e212c;
    margin-right: 12px;
}

.about {}

.about__inner {}

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: 30px;
}

.about__heading {
    margin-bottom: 48px;
}
.about__text {
    margin-bottom: 60px;
}
.about__paragraph {
    margin-bottom: 24px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__paragraph--accent {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #1e212c;
}

.about__btn-box {
    display: flex;
}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0;
}

.about__img {}

.about__values {}