html, body {
    font-family: Lato, sans-serif;
    color: #424551;
    line-height: 160%;
}

body::selection {
    color: #fff;
    background-color: #f46b66;
}

button {
    cursor: pointer;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1260px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.main__about {
    padding: 180px 0 160px;
}

.main__directions {
    padding-bottom: 180px;
}

.main__cert {
    margin-bottom: -46px;
}

.main__team {
    padding: 160px 0 180px;
}

.main__testimonials {
    padding-bottom: 195px;
}

.main__companies {
    padding-bottom: 177px;
}

.button {
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.5px;
    line-height: 52px;
    padding: 0 40px;
    color: #ffff;
    border-radius: 4px;
    background: linear-gradient(45.00deg, #ff3f3a, #f75e05 100%);
    white-space: nowrap;
    transition: .3s;
}

.button:hover {
    transform: scale(1.05);
}

.button--empty {
    background-image: none;
    border-left: 1px solid #ff3f3a;
    border-right: 1px solid #ff3f3a;
    border-bottom: 1px solid #ff3f3a;
    background-image: -webkit-linear-gradient(left, #ff3f3a, #f75e05), -webkit-linear-gradient(left, #ff3f3a, #f75e05);
    background-image: linear-gradient(left, #ff3f3a, #f75e05), linear-gradient(left, #ff3f3a, #f75e05);
    background-size: 100% 1px;
    background-position: 0 100, 0 0;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.button--empty span {
    background: linear-gradient(55.95deg, #ff3f3a 0%, #ff3f3a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {}

.heading {
    color: #1e212c;
}

.heading__subtitle {
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

.heading__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    margin: 0;
}

.heading--text-center {
    text-align: center;
}

.header {
    font-weight: 700;
    background: url(../images/decor/shapes-bg.svg) 50% 30% / cover no-repeat, linear-gradient(45.00deg, rgba(255, 63, 58, .2), rgba(246.6254425048828, 93.75582122802734, 5.25230598449707, .2) 100%);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top {}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__logo {
    margin-right: 60px;
}

.header__nav {
    margin-right: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    line-height: 19px;
    color: #424551;
    white-space: nowrap;
    transition: all .3s;
}

.header__nav-link:hover {
    color: #ff3f3a;
}

.header__btn-box {
    display: flex;
    align-items: center;
}

.header__top-btn {
    margin-right: 36px;
}

.header__user-nav {
    position: relative;
    padding-left: 28px;
}

.header__user-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    background: url(../images/icons/user-icon.svg) no-repeat;
    width: 20px;
    height: 20px;
}

.header__user-btn {
    white-space: nowrap;
    line-height: 1.6;
    transition: all .3s;
}

.header__user-btn:hover {
    color: #ff3f3a;
}

.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    flex-direction: column;
    /* height: 100%; */
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e212c;
    margin: auto 0;
}

.header__content {
    margin-right: 30px;
}

.header__play {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}

.header__play svg {
    margin-right: 16px;
    border-radius: 50%;
    transition: all .3s;
}

.header__play:hover svg {
    box-shadow: 0 0 0 16px rgb(255, 63, 58, 0.12);
}

.header__title {
    font-size: 64px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
    max-width: 500px;
    margin-bottom: 60px;
}

.header__content-buttons {
    display: flex;
}

.header__content-btn {
    margin-right: 24px;
}

.header__content-btn:last-child {
    margin-right: 0;
}

.header__img {}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1e212c;
    margin-bottom: 80px;
}

.header__row>span {
    background: #ff3f3a;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 15px;
}

.header__row-item {
    display: flex;
    align-items: center;
}

.header__row-item span {
    font-size: 46px;
    font-weight: 900;
    line-height: 130%;
    color: #1e212c;
    margin-right: 12px;
}

/* ////////////////////////////////// */

.about__inner {}

.about__createx {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 180px;
    position: relative;
}

.about__createx::before {
    content: "";
    position: absolute;
    top: -150px;
    right: -30px;
    background: url("../images/decor/1.svg");
    width: 100px;
    height: 85px;
}

.about__createx-content {
    max-width: 600px;
    margin-right: 30px;
}

.about__heading {
    margin-bottom: 48px;
}

.about__text {
    margin-bottom: 60px;
}

.about__paragraph {
    margin-bottom: 24px;
}

.about__paragraph:last-child {
    margin-bottom: 0;
}

.about__paragraph--accent {
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #1e212c;
}

.about__btn-box {
    display: flex;
}

.about__btn {
    margin-right: 24px;
}

.about__btn:last-child {
    margin-right: 0;
}

.about__img {}

.about__values {
    display: flex;
    justify-content: space-between;
}

.about__image-box {
    border-radius: 4px;
    overflow: hidden;
}

.about__image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__numbers {
    margin-left: 30px;
    align-self: center;
}

.about__number {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.about__number:last-child {
    margin-bottom: 0;
}

.about__number span {
    font-size: 48px;
    font-weight: 900;
    line-height: 130%;
    letter-spacing: 1px;
    color: #ff3f3a;
    margin-right: 16px;
}

/* ////////////////////////////////// */

.directions__inner {
    position: relative;
}

.directions__inner::before {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: -111px;
    width: 136px;
    height: 115px;
    background: url(../images/decor/2.svg) 0 0 no-repeat;
}

.directions__inner::after {
    content: "";
    display: block;
    position: absolute;
    top: 353px;
    right: -262px;
    width: 243px;
    height: 243px;
    background: url(../images/decor/3.svg) 0 0 no-repeat;
}

.directions__heading {
    margin-bottom: 90px;
}

.directions__body {}

.directions__filter-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;
}

.directions__filter-item {
    margin-right: 45px;
}

.directions__filter-item:last-child {
    margin-right: 0;
}

.directions__filter-btn {
    display: block;
    background-color: transparent;
    color: #9a9ca5;
    border: 1px solid #9a9ca5;
    border-radius: 4px;
    font-weight: 700;
    line-height: 1;
    padding: 5px 7px;
    white-space: nowrap;
}

.directions__filter-btn--active {
    background: linear-gradient(55.95deg, #ff3f3a 0%, #ff3f3a 100%);
    border: none;
    color: #fff;
    padding: 5px 8px;
}

.directions__list {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 30px;
    max-width: 390px;
}

.directions__list-item {
    list-style: none;
}

.directions__list-link {
    display: block;
    transition: all 1s;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e5e8ed;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.directions__list-link:hover {
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    transition: all .3s;
}

.directions__list-link:hover .directions__link-btn {
    color: #ff3f3a;
    transition: all .3s;
}

.directions__image-box {}

.directions__image-box img {}

.directions__link-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.directions__link-tag {
    line-height: 1;
    font-weight: 700;
    color: #fff;
    background-color: #f46b66;
    padding: 6px 8px;
    border-radius: 4px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.directions__link-text {
    color: #787a80;
    margin-bottom: 20px;
}

.directions__link-btn {
    display: flex;
    font-weight: 700;
    color: #1e212c;
    transition: all 1s;
}

.directions__link-btn::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url(../images/icons/arrow-right-red.svg) 0 2px / 100% no-repeat;
    margin-left: 11px;
}

.directions__list-item--empty {
    background: #f4f5f7;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.directions__list-item--empty span {
    max-width: 240px;
}

.directions__list-item--marketing .directions__link-tag {
    background-color: #03cea4;
}

.directions__list-item--managment .directions__link-tag {
    background-color: #5a87fc;
}

.directions__list-item--hr .directions__link-tag {
    background-color: #f89828;
}

.directions__list-item--design .directions__link-tag {
    background-color: #f52f6e;
}

.directions__list-item--development .directions__link-tag {
    background-color: #7772f1;
}

/* ////////////////////////////////// */

.cert {}

.cert__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cert__inner::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -111px;
    width: 60px;
    height: 60px;
    background: url(../images/decor/4.svg) 0 0 no-repeat;
}

.cert__content {
    margin-right: 30px;
    max-width: 400px;
}

.cert__heading {
    margin-bottom: 50px;
}

.cert__text {
    margin-bottom: 30px;
}

.cert__logos {
    display: flex;
}

.cert__logos-item {
    margin-right: 40px;
}

.cert__logos-item:last-child {
    margin-right: 0;

}

.cert__image_box {
    width: 700px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid var(--gray/300, rgba(229, 232, 237, 1));
    border-radius: 4px;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

/* ////////////////////////////////// */

.team {
    background: url("../images/decor/team-bg.svg") calc(50% + 62%) calc(50% - 42%) no-repeat, #f4f5f7;
}

.team__inner {}

.team__heading {
    margin-bottom: 60px;
    position: relative;
}

.team__slider .slick-list {
    margin: 0 -15px;
}

.team__slide {
    padding: 0 15px;
}

.team__slide:hover .team__socials {
    transform: translateY(0%);
}

.team__image-box {
    border-radius: 4px;
    margin-bottom: 16px;
    overflow: hidden;
    position: relative;
}

.team__image {
    position: relative;
    height: 340px;
}

.team__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__socials {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 12px;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(180.00deg, rgba(30, 33, 44, 0) 44%,rgba(30, 33, 44, 0.03) 55%,rgba(30, 33, 44, 0.33) 69%,rgba(30, 33, 44, 0.56) 76%,rgba(30, 33, 44, 0.77) 84%,rgba(30, 33, 44, 0.92) 91%,rgba(30, 33, 44, 1) 100%);
    transform: translateY(50%);
    transition: all .3s;
}

.team__socials-item {}

.team__socials-link path {
    transition: all .3s;
}

.team__socials-link:hover path {
    fill: #fff;
    opacity: 1;
}

.team__info {
    text-align: center;
}

.team__info-name {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
}

.team__info-position {
    color: #787a80;
}

.team__slider-arrows {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    z-index: 0;
}

.team__slider-arrow {
    border-radius: 50%;
    line-height: 0;
    display: block;
    position: relative;
}

.team__slider-arrow path {
    transition: all .3s;
}

.team__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background-color: #ff3f3a;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s;
}

.team__slider-arrow:hover path {
    fill: #fff;
}

.team__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.team__slider-prev {
    margin-right: 24px;
}

.team__slider-next {
}

/* ////////////////////////////////// */

.testimonials {
    background: #f4f5f7;
    position: relative;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-46%, -56%);
    background: url(../images/decor/testi-bg.svg) 0 0 / 100% no-repeat;
    width: 1971px;
    height: 816px;
    
}

.testimonials__inner {
    position: relative;
    z-index: 1;
}

.testimonials__heading {
    margin-bottom: 60px;
}

.testimonials__slider-wrapper {
    padding: 0 50px;
    position: relative;
    margin-bottom: 45px;
}

.testimonials__slider {
    max-width: 1020px;
    margin: 0 auto;
}

.testimonials__slide {
    padding: 64px;
    background-color: #fff;
    border-radius: 4px;
}

.testimonials__slide-inner {
    max-width: 810px;
    margin: 0 auto;
    padding-left: 58px;
}

.testimonials__quote {
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 24px;
    position: relative;
}

.testimonials__quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: -58px;
    background: url(../images/icons/quote-icon.svg) 0 0 / 100% no-repeat;
    width: 28px;
    height: 20px;
}

.testimonials__user {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.testimonials__avatar {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}
.testimonials__info {
}
.testimonials__info-name {
    font-weight: 700;
    margin-bottom: 4px;
    color: #1e212c;
}

.testimonials__info-position {
    font-size: 14px;
    line-height: 150%;
    color: #787a80;
}

.testimonials__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100px;
    display: flex;
    align-items: center;
    z-index: 0;
}

.testimonials__arrow path {
    transition: all .3s;
}

.testimonials__arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 50px;
    height: 50px;
    background-color: #ff3f3a;
    z-index: -1;
    border-radius: 50%;
    transition: all .3s;
}

.testimonials__arrow:hover path {
    fill: #fff;
}

.testimonials__arrow:hover::before {
    transform: translate(-50%, -50%) scale(1);
}

.testimonials__prev {
    left: 0;
    justify-content: flex-start;
}

.testimonials__prev::before {
    left: 12%;
}

.testimonials__next {
    right: 0;
    justify-content: flex-end;
}

.testimonials__next::before {
    left: 88%;
}

.testimonials__dots .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__dots li {
    margin-right: 12px;
}

.testimonials__dots li:last-child {
    margin-right: 0;
}


.testimonials__dots button {
    font-size: 0;
    background-color: transparent;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
}


.testimonials__dots button::before {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #b3b7bc;
    border-radius: 3px;
}

.testimonials__dots .slick-active button::before {
    background-color: #424551;
    transition: all .3s;
}

/* ////////////////////////////////// */

.companies {
    background: #f4f5f7;
}

.companies__inner {
    position: relative;
}

.companies__inner::before {
    content: "";
    position: absolute;
    bottom: -134px;
    left: -264px;
    background: url(../images/decor/5.svg) 0 0 / 100% no-repeat;
    width: 90px;
    height: 90px;
}

.companies__heading {
    margin-bottom: 60px;
}

.companies__grid {
    display: grid;
    grid-template: repeat(2, auto) / repeat(6, 1fr);
    gap: 40px 100px;
}

.companies__grid-item {
}

.companies__grid-link {
    display: block;
}

.companies__grid-link img {
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    opacity: 0.4;
    transition: all 1.3s;
}

.companies__grid-link:hover img {
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s;
}